<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/index-metaheaders.ejs %> <%- include partials/resources.ejs %>
  </head>
  <body>
    <%- include('partials/header', { selectedPage: 'Home' }) %>

    <div class="videos">
      <% videos.map(({name, url}, i) => { %>
      <a href="<%= url %>" class="video">
        <div class="video-wrapper">
          <div class="thumbnails">
            <img src="<%= 'img/thumbnails/' + name.replace('.mp4', '') + '/1.jpg' %>" alt="Article Cover Photo" />
            <img src="<%= 'img/thumbnails/' + name.replace('.mp4', '') + '/2.jpg' %>" alt="Article Cover Photo" />
            <img src="<%= 'img/thumbnails/' + name.replace('.mp4', '') + '/3.jpg' %>" alt="Article Cover Photo" />
            <img src="<%= 'img/thumbnails/' + name.replace('.mp4', '') + '/4.jpg' %>" alt="Article Cover Photo" />
            <img src="<%= 'img/thumbnails/' + name.replace('.mp4', '') + '/5.jpg' %>" alt="Article Cover Photo" />
          </div>
          <div class="video-info">
            <span class="duration">03:14</span>
            <span class="title"><%= name %></span>
          </div>
          <div class="gradient"></div>
        </div>
      </a>
      <% }) %>
    </div>
    <%- include('partials/footer', { type: 'index' }) %>
  </body>
</html>
