<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/index-metaheaders.ejs %> <%- include partials/resources.ejs %>
  </head>
  <body>
    <%- include('partials/header', { selectedPage: 'Home' }) %>

    <div class="index-wrapper">
      <h2 class="index-title">Featured articles</h2>

      <div class="featured-articles">
        <% articles.filter(x => x.isFeatured).sort((a,b) => +moment(b.date, 'DD/MM/YYYY') - +moment(a.date, 'DD/MM/YYYY')).map((article) => { %>
        <div class="featured-article post post-thumb">
          <a class="post-img" href="<%= article.url %>">
            <picture>
              <source srcset="<%= article.coverImageUrl.replace('.jpg', '.webp') %>" type="image/webp" />
              <source srcset="<%= article.coverImageUrl %>" type="image/jpeg" />
              <img src="<%= article.coverImageUrl %>" alt="Article Cover Photo" />
            </picture>
          </a>
          <div class="post-body">
            <div class="post-meta">
              <a class="post-category cat-2" style="background-color: <%= article.color %>;" href="#"><%= article.type %></a>
              <span class="post-date"><%= moment(article.date, 'DD/MM/YYYY').format('MMMM DD, YYYY') %></span>
            </div>
            <h3 class="post-title">
              <a href="<%= article.url %>">
                <%= article.title %>
              </a>
            </h3>
          </div>
        </div>
        <% }) %>
      </div>

      <h2 class="index-title">Recent</h2>

      <div class="recent-articles">
        <% articles.sort((a,b) => +moment(b.date, 'DD/MM/YYYY') - +moment(a.date, 'DD/MM/YYYY')).map((article, i) => { %>
        <div class="post recent-article">
          <a class="post-img" href="<%= article.url %>">
            <picture>
              <source srcset="<%= article.coverImageUrl.replace('.jpg', '.webp') %>" type="image/webp" />
              <source srcset="<%= article.coverImageUrl %>" type="image/jpeg" />
              <img src="<%= article.coverImageUrl %>" alt="Article Cover Photo" />
            </picture>
          </a>
          <div class="post-body">
            <div class="post-meta">
              <a class="post-category" style="background-color: <%= article.color %>;" href="#"><%= article.type %></a>
              <span class="post-date"><%= moment(article.date, 'DD/MM/YYYY').format('MMMM DD, YYYY') %></span>
            </div>
            <h3 class="post-title">
              <a href="<%= article.url %>" style="line-height: 23px;">
                <%= article.title %>
              </a>
            </h3>
          </div>
        </div>
        <% }) %>
      </div>
      <%- include('partials/footer', { dataHref: `https://www.rntricks.com/`, href:
      `https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.rntricks.com%2F&amp;src=sdkpreparse`, type: 'index' }) %>
    </div>
  </body>
</html>
