<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include partials/index-metaheaders.ejs %> <%- include partials/resources.ejs %>
  </head>
  <body>
    <%- include('partials/header', { selectedPage: 'Home' }) %>

      <div class="recent-videos">
        <% videoNames.map((videoName, i) => { %>
        <div class="post recent-video">
          <a class="post-img">
            <img src="<%= 'img/thumbnails/' + videoName.replace('mp4', 'jpg') %>" alt="Article Cover Photo" />
          </a>
          <div class="post-body">
            <div class="post-meta">
              <span class="video-length">03:14</span>
            </div>
            <h3 class="post-title">
              <a style="line-height: 23px;">
                <%= videoName %>
              </a>
            </h3>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
