<!DOCTYPE html>

<html ⚡ lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      <%= videoName %>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <meta name="author" content="rntricks.com" />
    <meta name="description" content="<%= videoName  %>" />
    <meta name="author" content="rntricks.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= videoName %>" />
    <meta property="og:description" content="<%= videoName  %>" />
    <meta property="og:image" content="https://www.rntricks.com<%= 'img/thumbnails/' + videoName.replace('mp4', 'jpg') %>" />
    <%- include partials/resources.ejs %>
  </head>

  <body>
    <%- include('partials/header') %>

    <div style="justify-content: center; align-items: center; display: flex; flex-direction: column;">
      <h1 class="video-title" style="display: inline; width: auto;"><%= videoName %></h1>
      <video src="<%= videoName %>" autoplay controls width="100%" style="max-height: 720px;"></video>
    </div>
    <%- include('partials/footer', { type: 'index' }) %>
  </body>
</html>
